.row-container {
    margin-left: 20px;
    color: #FFF;
}

.row-cards {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row-cards::-webkit-scrollbar {
    display: none;
}

.row-movie-card {
    width: 100%;
    max-height: 100px;
    margin-bottom: 10px;
    object-fit: contain;
    transition: transform 450ms;
}

.row-movie-card-large {
    width: 100%;
    max-height: 250px;
    margin-bottom: 10px;
    object-fit: contain;
    transition: transform 450ms;
}

.row-movie-card:hover {
    transform: scale(1.08);
}